<header class="bel-header">
    <i class="bel-hamburger-menu fas fa-bars" id="bel-hamburger-btn"></i>
    <div class="bel-header-content">
        <div class="bel-sidebar-logo">
            <img src="https://irp.cdn-website.com/56869327/dms3rep/multi/iotmart-logo.svg" alt="logo">
            <span>BEL Portal</span>
        </div>
        <div class="bel-header-right">
            <div class="bel-notification-bell" id="notification-bell">
                <i class="fas fa-bell"></i>
                <div class="dot"></div>
            </div>
            <div class="bel-notification-panel" id="notification-panel">
                <div class="bel-notification-header">Announcements</div>
                <ul class="bel-notification-list">
                    <li class="bel-notification-item">
                        <div class="bel-notification-title"><span class="tag important">Important</span>September Earnings Payout Postponed</div>
                        <div class="bel-notification-date">2025-08-26</div>
                    </li>
                    <li class="bel-notification-item">
                        <div class="bel-notification-title"><span class="tag new-product">New Campaign</span>ADAM Remote I/O Series are now available for promotion</div>
                        <div class="bel-notification-date">2025-08-25</div>
                    </li>
                </ul>
            </div>
            <div class="bel-user-profile">
                <img src="https://irp.cdn-website.com/56869327/dms3rep/multi/AVATAR-G.png" alt="User Avatar">
            </div>
            <div class="user-profile-panel" id="user-profile-panel">
                <div class="panel-content">
                    <div class="user-info">
                        <span class="user-name">Maxwell</span>
                        <span class="user-email">Maxwell.Walker@example.com</span>
                    </div>
                    <div class="user-level">
                        <span class="bel-badge explorer"><i class="fas fa-rocket"></i> Explorer</span>
                    </div>
                    <hr class="divider">
                    <a href="my-account.html" class="panel-link">My Account</a>
                    <a href="#" class="panel-link">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</header>
